@import "@/app/globals.variables.module.scss";

.Navbar {
	@apply w-full;

	height: $navbar-height;

	.wrapper {
		@apply max-w-screen-1xl ml-8 2xl:ml-auto flex items-center justify-between p-2 mx-auto h-full z-0;
	}
}

.logo {
	@apply flex items-center justify-start gap-1 drop-shadow-xl select-none z-0 scale-105;

	.logoImageContainer {
		@apply inline-flex items-center justify-center rounded-md border-input h-11 w-11 flex-shrink-0;

		.logoImage {
			@apply h-11 w-11 drop-shadow-xl;
		}
	}

	.logoText {
		@apply font-unicephalon text-accent tracking-wider text-left line-clamp-1 translate-y-[4px] -translate-x-[1px] sm:translate-y-[1px] sm:translate-x-0;
		display: none;

		font-size: 1.2rem /* 24px */;
		line-height: 1.5rem /* 24px */;

		@screen sm {
			font-size: 1.65rem /* 24px */;
			line-height: 2rem /* 32px */;
		}

		@screen 2xs {
			display: block;
		}
	}
}

.socialLinks {
	@apply flex flex-row-reverse gap-4 text-foreground/60 text-2xl transition-colors duration-150;

	> a {
		@apply cursor-pointer hover:text-accent;
	}
}
