@import "@/app/globals.variables.module.scss";

.hero {
	@apply relative z-0;
	height: calc(vh(100) - $navbar-height);

	.slidingTextContainer {
		@apply absolute left-0 -bottom-24 text-[60vh] font-[900] whitespace-nowrap text-gray-950 max-w-[100%] leading-[1em];
	}

	.wrapper {
		@apply max-w-screen-1xl m-auto h-full z-10 relative select-none;

		.textContainer {
			@apply h-full flex flex-col justify-center gap-10 max-w-[60%] z-10;

			.author {
				@apply text-accent uppercase text-3xl font-extrabold tracking-[5px];
			}

			.subtitle {
				@apply lowercase tracking-widest text-lg opacity-80 -mt-2;
				font-variant: small-caps;
			}

			.title {
				@apply text-foreground text-6xl font-extrabold leading-[1.2em];
			}

			.buttons {
				div {
					display: inline-block;
					button {
						@apply uppercase border-2 border-foreground font-bold text-lg tracking-wider text-background bg-foreground px-6 py-2 rounded-xl hover:text-foreground hover:bg-background transition-colors duration-500 hover:duration-150 hover:drop-shadow-lg opacity-95 hover:opacity-100 cursor-pointer;
					}
				}

				div + div {
					@apply ml-6;
				}
			}

			.scrollImage {
				@apply w-12 h-auto cursor-pointer;
			}
		}
	}

	.imageContainer {
		@apply absolute -right-12 xl:right-20 bottom-0 opacity-95 dark:opacity-90 drop-shadow-2xl z-0;

		img {
			@apply drop-shadow-2xl z-0;
		}
	}
}
