@import "@/app/globals.variables.module.scss";

.contact {
	@apply m-auto h-full select-none flex justify-center items-center w-full max-w-screen-1xl;

	.wrapper {
		@apply h-fit flex gap-6 sm:gap-10 justify-start sa:justify-center w-full;

		.textContainer {
			@apply h-full flex flex-col z-10 relative w-fit gap-6 sm:gap-10 justify-start sa:justify-center;

			.title {
				@apply text-foreground font-extrabold
					max-w-[8.8em]
					text-5xl leading-[1em]
					sa:text-4xl sa:leading-[1em]
					ma:text-5xl ma:leading-[1em]
					ml:text-6xl ml:leading-[1em];
			}

			.data {
				@apply flex flex-col gap-3;
				.dataItem {
					h2 {
						@apply text-foreground font-extrabold;
					}
				}
			}
		}

		.formContainer {
			@apply w-full h-fit flex flex-col flex-grow relative
				gap-6 sm:gap-10
				justify-start sa:justify-center;

			.fieldLabel {
				@apply text-lg;
			}

			.button {
				@apply border-2 border-foreground font-semibold text-lg text-background bg-foreground px-2 2xs:px-3 py-1 rounded-md hover:text-foreground hover:bg-background transition-colors duration-500 hover:duration-150 hover:drop-shadow-lg opacity-95 hover:opacity-100 cursor-pointer flex items-center w-fit gap-1 xs:gap-3;

				.btnText {
					@apply block w-full flex-grow;
				}

				.btnIcon {
					@apply text-xl w-fit;
				}
			}
		}
	}
}
