@import "@/app/globals.variables.module.scss";

.services {
	@apply flex flex-col items-center justify-between h-full;

	.textContainer {
		flex: 1;
		align-self: flex-end; // We ca use this because the parent is also "flex"

		@apply flex gap-5 items-center justify-center -mr-20 mt-5 lg:mt-0;

		hr {
			@apply w-12 sm:w-36;
		}

		p {
			@apply sm:text-lg italic text-foreground/70 text-right;
		}
	}

	.titleContainer {
		flex: 1;
		flex-shrink: 1;

		@screen xs {
			flex: 2;
		}

		.titleContainerWrapper {
			@apply flex flex-col items-center justify-center gap-4 scale-50 sa:scale-75 lg:scale-100 h-60;

			h1 {
				@apply text-7xl font-thin flex flex-col 2xs:flex-row items-center gap-6 whitespace-nowrap;

				b {
					@apply font-extrabold hover:text-accent transition-colors duration-300 hover:duration-150;
				}

				button {
					@apply text-2xl font-semibold bg-accent rounded-full h-20 w-72 px-12 border-2 border-accent hover:bg-background hover:text-accent transition-colors duration-100 hover:duration-150;
				}

				.image {
					@apply inline-block w-72 h-20 rounded-full overflow-hidden;

					img {
						@apply w-full h-full object-cover;
					}
				}
			}
		}
	}

	.listContainer {
		flex: 2;
		flex-grow: 1;

		@apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 sm:gap-6 max-w-screen-1xl pt-4 pb-8;

		.listItem {
			@apply flex flex-col items-start justify-start gap-3 bg-background/30 py-3 px-4 sm:py-6 sm:px-6 h-fit rounded-2xl backdrop-blur-sm shadow-[0px_0px_24px_-2px] shadow-accent/10 hover:shadow-accent/20 drop-shadow-xl hover:drop-shadow-none transition-all duration-150 hover:duration-300 relative overflow-hidden;

			.listItemTitle {
				flex: 1;
				@apply text-2xl self-start line-clamp-1;
			}

			.listItemContent {
				flex: 2;
				@apply flex flex-col items-start justify-start gap-3 overflow-hidden py-1
				max-h-14 sm:max-h-44 lg:max-h-56;

				p {
					@apply line-clamp-2 sm:line-clamp-5 md:line-clamp-6 lg:line-clamp-[7] hyphens-auto;
				}
			}

			.listItemButton {
				flex: 1;
				@apply absolute max-lg:top-3 max-lg:right-3 lg:relative text-xl self-end flex-1 flex flex-col items-end justify-end h-fit;

				button {
					@apply bg-accent rounded-full px-6 py-1 border-2 border-accent text-background font-semibold hover:bg-background hover:text-accent transition-colors duration-75 hover:duration-150;
				}
			}
		}
	}
}
